{% if page.breadcrumb != false and page.url != '/' %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [
    {
      "@type": "ListItem",
      "position": 1,
      "name": "Home",
      "item": "{{ site.url }}"
    }{% if page.breadcrumb_items %}{% for item in page.breadcrumb_items %},
    {
      "@type": "ListItem",
      "position": {{ forloop.index | plus: 1 }},
      "name": "{{ item.name }}",
      "item": "{{ item.url | absolute_url }}"
    }{% endfor %}{% endif %}
  ]
}
</script>
{% endif %}