{% if page.url != '/' %}

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [

    {
      "@type": "ListItem",
      "position": 1,
      "name": "Home",
      "item": "{{ site.url }}/"
    }

    {% assign pos = 2 %}

    {% if page.layout == 'post' %}

      ,
      {
        "@type": "ListItem",
        "position": {{ pos }},
        "name": "Blog",
        "item": "{{ site.url }}/blog/"
      }

      {% assign pos = pos | plus: 1 %}

    {% endif %}

    ,
    {
      "@type": "ListItem",
      "position": {{ pos }},
      "name": {{ page.title | jsonify }},
      "item": "{{ page.url | absolute_url }}"
    }

  ]
}
</script>

{% endif %}