<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "WebSite",
      "@id": "https://www.shubook.in/#website",
      "url": "{{ site.url }}",
      "name": "Shubook Labs - Podcast Studio in Jaipur",
      "description": "{{ site.description }}",
      "potentialAction": {
        "@type": "SearchAction",
        "target": "{{ site.url }}/search?q={search_term_string}",
        "query-input": "required name=search_term_string"
      }
    }
    </script>