<meta http-equiv="Content-Language" content="en">
<meta name="robots" content="index, follow, max-snippet:-1, max-image-preview:large">

{% if page.local_business != false %}
<meta name="geo.region" content="IN-RJ">
<meta name="geo.placename" content="Jaipur">
<meta name="geo.position" content="26.813944;75.796000">
<meta name="ICBM" content="26.813944, 75.796000">
{% endif %}

{% if page.keywords %}
<meta name="keywords" content="{{ page.keywords }}">
{% endif %}

<meta name="author" content="{% if page.author %}{{ page.author }}{% else %}Shubook Labs{% endif %}">